.adoradores_de_papelao {
    position: absolute;
    top: 465%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 1280px;


}

.adoradores_de_papelao .adoradores_page{
    /* overflow-x: hidden; */
    width: 100%;
    height: 660px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
}

.adoradores_de_papelao .adoradores_page .top{

    background-color: transparent;
    position: absolute;
    height: 200px;
    z-index: 5;
    top: -7px;
    left: 231px;
    /* transform: translateX(-50%); */

}



.adoradores_page .top p{
    width: 499px;
    font-family: Sora;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    transform: translateY(10px);

}

.adoradores_page .top h2{
    font-family: Sora;
    font-weight: 400;
    font-size: 75px;
    line-height: 94px;
    color: #7EB4C8;
}


.adoradores_page .bottom{
    position: absolute;
    top: 100px;
    left: 20px;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
}


.adoradores_page .bottom .cards{
    overflow: hidden;

    display: flex;
    gap: 20px;
}
