

.landing-page{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page .middle{
    width: 1280px;
    margin-top: 10px;
    /* height: 660px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .landing-page .top{
        position: relative;
    }

    .landing-page .left{
        position: absolute;
        left: 6%;
        top: 54%;
        width: 59px;
        border-style: none;
        background-color: transparent;
    }

    .landing-page .right{
        transform: scaleX(-1);
        position: absolute;
        right: 6%;
        top: 54%;
        width: 59px;
        border-style: none;
        background-color: transparent;
    }

    .middle .ver-colecao{
        z-index: 1;

        font-family: "Sora", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        width: 157px;
        height: 46px;
        border-style: none;
        color: white;
        background-color: black;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        top: 81%;
        left: 47%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .landing-page .carousell-dots{
        position: absolute;
        bottom: 5%;
        border: none;
        width: 70px;
        height: 10px;
        display: flex;
        justify-content: center;
        gap: 18px;
        left: 7%;
        z-index: 2;        
    }

    .landing-page .carousell-dots button{
        background: black;
        border-radius: 50%;
        border-style: none;
        width: 10px;
        height: 10px;
    }


    .landing-page .carousel_box{
        position: relative;
        overflow: hidden;
        width: 1179px;
        height: 559px;
    }

    .landing-page .carousel_box .carousel_image{
        position: absolute;
        object-fit: cover;
        width: 1179px;
        height: 780px;

    }

.landing-page .filler{
    /* position: absolute; */
    
    z-index: 10;
    width: 1179px;
    height: 9px;
    background-color: black;
}


/* red thing on the bottom */

.box-container{
    position: relative;
    left: 0;
    bottom: 0;
    width: 1179px;
    height: 238px;
    background-color: #DE5A53;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

}


.landing-page .box-info{
    /* margin: 10px; */
    width: 1030px;
    height: 180px;
    border: white solid 1px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}




.box-info .firstBox{
    position: relative;
    gap: 15px;
    height: 180px;
    width: 315px;
    padding: 0px 10px;
    color: white;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-right: 1px solid white;
}


.box-info .firstBox h1{
    position: absolute;
    top: -23px;
    align-items: center;
    font-family: "Oswald";
    
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 250;
    font-size: 140px;
    height: 113px;
    width: 119px;
    line-height: 207.48px;
}

.firstBox .beneficio1{
    position: absolute;
    left: 45%;
    top: 20px;
    font-family: Sora;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.box-info .firstBox h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 37.8px;
}

.box-info .firstBox h3{
    font-size: 14px;
    font-weight: 300;
    width: 170px;
}






.box-info .secondBox{
    display: flex;
    flex-direction: column;
    height: 100%;
 
}

.box-info .secondBox .top-row{
    display: flex;
    flex-direction: row;    
}


.top-row .beneficio2:nth-child(1),
.top-row .beneficio2:nth-child(2){
    border-right: solid white 1px;
}


.top-row .beneficio2{
    display: flex;
    border-bottom: 1px solid white;
    width: 239.33px;
    height: 129px;
    padding: 17px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.top-row .beneficio2 .prize-text{
    display: flex;
    font-family: 'Sora';
    gap: 20px;
    
    
}


.beneficio2 .prize-text img{
    width: 46.87px;
    height: 47.01px;
}

.beneficio2 .prize-text h2{
    width: 130.64px;
    text-align: right;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.top-row .beneficio2 p{
    font-family: Sora;
    color: white;
    font-size: 14px;
    font-weight: 300;
    
}

.secondBox .bottom-row{
    width: 716px;
    height: 52px;
    overflow: hidden;
    text-overflow: clip;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}



.secondBox .bottom-row h3{
    
    transform: translateX(-17px);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 18px;
    line-height: 22.68px;
}

.bottom-row h3 img{
    padding-left: 21px;

}

.bottom-row h3:nth-child(1) img,
.bottom-row h3:nth-child(3) img{
    transform: scaleX(-1) translateX(-17px);
    
}







