nav{
    z-index: 50;
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 1280px;
}

nav .nav_container{
    z-index: 50;
    width: 1240px;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: center;
    position: relative;
}


nav .nav_container .lado_esquerdo {
    display: flex;
    flex-direction: row;
}



nav .nav_container .lado_esquerdo .logo{
    width: 126px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

.lado_esquerdo .logo img{
    position: absolute;
    top: 8px;
    width: 85px;
    height: 40px;
}


nav .nav_container .lado_esquerdo .produtos_button{
    text-decoration: none;
    width: 131px;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    border-right: white solid 1px;
    font-family: Sora;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1E1E1E;
    color: white;
}

.nav_container .lado_esquerdo .produtos_button img{
    width: 16px;
    height: 16px;
}

nav .nav_container .lado_esquerdo .colecoes_button{
    text-decoration: none;
    width: 131px;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    border-right: white solid 1px;
    font-family: Sora;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1E1E1E;
    color: white;
}

.nav_container .lado_esquerdo .colecoes_button img{
    width: 16px;
    height: 16px;
}



nav .nav_container .lado_direito{
    display: flex;
    background-color: #1E1E1E;
    flex-direction: row;
    height: 40px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    border-right: 1px solid white;

}



nav .nav_container .lado_direito .anchors{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 500px;
    border-right: white solid 1px;
    padding-right: 15px;
}

.nav_container .lado_direito .anchors p a{
    text-decoration: none;
    font-family: Sora;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 17.64px;
}

.nav_container .lado_direito .search{
    border-right: white solid 1px;
    display: flex;
    padding: 0px 15px;
    padding-right: 20px;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    color: #7a7a7a;
    
    height: 39px;
    line-height: 5px;

}



.lado_direito .search form input{
    width: 150px;
    text-align: center;
    font-family: Sora;
    font-weight: 200;
    font-size: 12px;
    background: transparent;
    border-style: none;
    color: #ffffff;
}

.search form input:focus{
    outline: none;
}

.search form input::placeholder{
    color: inherit;
    opacity: 1;
}



.lado_direito .user{
    border-right: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.lado_direito .carrinho{
    width: 59px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado_direito .carrinho img:nth-child(1){
    position: absolute;
    width: 17px;
    height: 16px;

}

.lado_direito .carrinho img:nth-child(2){
    position: absolute;
    top: 8px;
    left: 36px;

    
}





